@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-red: #fb565a;
  --basic-red-hover: #e74246;
  --basic-red-active: #d7373b;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --basic-white: #ffffff;
  --btn-green: #00ca74;
  --btn-green-hover: #00bc6c;
  --btn-green-active: #00aa62;
  --btn-yellow: #efc849;
  --btn-yellow-hover: #eab534;
  --btn-yellow-active: #e5a722;
  --light-gray: rgba(255, 255, 255, 0.3);
  --background-gray: #eeeeee;
  --basic-gray2: #dfdfdf;
  --basic-gray3: #d5d5d5;
  --gray-active: rgba(0, 0, 0, 0.3);
  --gray-hover: rgba(0, 0, 0, 0.6);
  --btn-gray-shadow: rgba(0, 1, 1, 0.1);
  --border-gray-btn: #dbdbdb;
  --products-text: #666666;
  --products-description-gray: #4d4d4d;
  --social-gray: #e1e1e1;
  --form-checkbox: #e3e3e3;
  --range-gray: #d7dcdf;
  --range-green: #00ca74;
  --toggle-gray: #ababab;
  --toggle-shadow: #cfcfcf;
  --price-controls-color: #283136;
  --slider-button: #c4c4c4;
  --modal-input: #d7dcde;
  --modal-input-hover: #b4b9bb;
  --close-button: #feccce;
  --close-button-active: #ffeeef;
}

.page-body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.main-header {
  padding-top: 50px;
  padding-bottom: 0;
}

.main-bg {
  background-color: var(--background-gray);
}

.slider-list {
  margin-bottom:  70px;
  position: relative;
}

a {
  text-decoration: none;
}

.page {
  height: 100%;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation-bar {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  align-items: center;
}

.main-navigation-bar .cart-link {
  position: relative;
  padding-left: 40px;
}

.cart-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 15px;
  height: 15px;
  background: url("../img/cart-icon.svg") no-repeat 0 0;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 437px;
  margin-left: 202px;
  margin-right: auto;
}

.site-navigation a {
  display: block;
  padding-bottom: 13px;
  padding-top: 15px;
}

.site-navigation li:not(:last-child) {
  margin-right: 45px;
}

.study, .shop {
  border-bottom: 2px solid var(--basic-red);
}

.slider-list h1 {
  margin: 0;
}

.slider-item {
  padding-top: 78px;
  position: relative;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 720px;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-controls button {
  position: relative;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 2px;
  height: 2px;
  background-color: transparent;
  border: 3px solid var(--slider-button);
  border-radius: 50%;
}

.slider-item-smartfones::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  right: 0;
  bottom: 0;
  background: url("../img/smartphones-slide.png") no-repeat 0 0;
}

.slider-item-monitor::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  left: 420px;
  bottom: 0;
  background: url("../img/monitor-slide.png") no-repeat 0 0;
}

.slider-item-tablet::after {
  content: "";
  position: absolute;
  width: 760px;
  height: 431px;
  left: 420px;
  bottom: 0;
  background: url("../img/tablet-slide.png") no-repeat 0 0;
}

.slider-item p {
  margin-top: 0;
  margin-bottom: 22px;
}

.slider-item p:nth-child(2) {
  margin-bottom: 38px;
}

.slider-button {
  display: inline-block;
  margin-bottom: 80px;
  line-height: 18px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-navigation a,
.main-slider a,
.advantages a {
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation a {
  color: var(--basic-black);
  font-weight: 500;
  line-height: 30px;
}

.main-navigation a:hover {
  color: var(--basic-red);
}

.main-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.slider-item {
  margin-right: auto;
}

.slider-item p:first-child {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.btn {
  background-color: var(--basic-red);
  color: var(--basic-white);
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
}

.btn:hover {
  background-color: var(--basic-red-hover);
}

.btn:active {
  background-color: var(--basic-red-active);
  color: var(--light-gray);
  box-shadow: inset 0px 3px 0px var(--btn-gray-shadow);
}

.slider-button {
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 54px;
  padding-right: 54px;
}

.advantages-list {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.advantages {
  margin-bottom: 80px;
}

.advantages h2 {
  margin: 0;
}

.advantages h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 70px;
}

.services-list li:not(:last-child) {
  margin-bottom: 23px;
}

.services-list li {
  position: relative;
  padding-left: 37px;
}

.services-list li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.services-list li:last-child::before {
  height: 1px;
}

.line-gray {
  border-top: 2px solid var(--background-gray);
}

.services h2 {
  margin: 0;
}

.statistics {
  width: 360px;
  margin-top: 39px;
}

.statistics-content th:not(:last-child),
.statistics-content td:not(:last-child) {
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.statistics-content {
  margin-top: 23px;
  margin-left: 25px;
}

.statistics-content th {
  text-align: left;
}

.statistics-content caption {
  margin: 0;
  margin-bottom: 31px;
}

.statistics img {
  margin-left: 30px;
}

.advantages-item h3 {
  margin: 0;
  margin-bottom: 16px;
}

.advantages-item p {
  margin-bottom: 32px;
}

.advantages-item img {
  margin: 0;
  margin-bottom: 20px;
}

.advantages-item .btn {
  box-sizing: border-box;
  padding: 16px 40px;
  display: inline-block;
  font-size: 16px;
}

.btn-red {
  line-height: 18px;
}

.btn-green {
  background-color: var(--btn-green);
  line-height: 18px;
}

.btn-green:hover {
  background-color: var(--btn-green-hover);
}

.btn-green:active {
  background-color: var(--btn-green-active);
}

.btn-yellow {
  background-color: var(--btn-yellow);
  line-height: 18px;
}

.btn-yellow:hover {
  background-color: var(--btn-yellow-hover);
}

.btn-yellow:active {
  background-color: var(--btn-yellow-active);
}

.slogan {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-top: 73px;
  margin-bottom: 32px;
  font-weight: 500;
}

.services-description {
  margin: 0;
  margin-bottom: 40px;
}

.services-orders {
  margin: 0;
  margin-bottom: 23px;;
}

.text-uppercase {
  text-transform: uppercase;
  font-weight: 700;
}

.statistics-content caption {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.statistics-content th {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.cta-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.partners-list {
  width: 1159px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid var(--background-gray);
  border-bottom: 2px solid var(--background-gray);
  padding-top: 43px;
  padding-bottom: 43px;
}

.partners {
  margin-bottom: 80px;
}

.contacts-list h2 {
  margin-top: 0;
}

.partners-list a {
  opacity: 0.2;
}

.partners-list a:hover {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

.studio {
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

.fieldset-clear {
  border: none;
  margin: 0;
  padding: 0;
}

.form-filter input[type="text"] {
  background-color: var(--background-gray);
  border: none;
  width: 80px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  margin-left: 11px;
}

.form-grid label:not(:last-child),
.form-features label:not(:last-child) {
  margin-bottom: 15px;
}

.form-grid label,
.form-features label {
  display: block;
}

.price-grid label {
  text-transform: uppercase;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 35px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--background-gray);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--range-gray);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--range-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--price-controls-color);
  border: none;
  border-radius: 3px;
  background: var(--background-gray);
  font-family: inherit;
  font-size: inherit;
}

.form-filter fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.form-filter fieldset:nth-child(2) {
  margin-bottom: 47px;
}

.form-filter fieldset:nth-child(3) {
  margin-bottom: 50px;
}

.form-filter legend {
  margin: 0;
  margin-bottom: 16px;
}

.form-features label {
  position: relative;
  cursor: pointer;
  padding-left: 38px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 23px;
  background: url("../img/checkbox-on.svg");
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  opacity: 1;
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 1;
}

.form-grid label {
  position: relative;
  cursor: pointer;
  padding-left: 38px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  border: 4px solid var(--products-description-gray);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--products-description-gray);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  opacity: 1;
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  opacity: 1;
}

.tech-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.btn-gray {
  padding: 16px 88px 16px 88px;
  color: var(--basic-black);
  background-color: var(--background-gray);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
}

.btn-gray:hover {
  background-color: var(--basic-gray2);
}

.btn-gray:active {
  background-color: var(--basic-gray3);
  color: var(--gray-active);
  box-shadow: inset 0px 3px 0px var(--btn-gray-shadow);
}

.sort-list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-active);
  text-transform: uppercase;
}

.sort-list a:hover {
  color: var(--gray-hover);
}

.sort-list a:active {
  color: var(--basic-black);
}

.sort-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  margin-bottom: 48px;
  margin-top: -3px;
}

.sort-list {
  width: 272px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 47px;
}

.arrows {
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.arrows button {
  position: relative;
}

.arrow-down,
.arrow-up {
  position: relative;
  top: -2px;
  width: 11px;
  height: 10px;
  background: url("../img/arrow-down.svg") no-repeat 0 0;
  border: none;
  background-color: transparent;
  opacity: 0.2;
}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-color:hover,
.arrow-color:focus {
  opacity: 0.5;
}

.arrow-color:active {
  opacity: 1;
}

.products-navigation {
  display: flex;
  justify-content: space-between;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
  margin-bottom: 55px;
}

.products-description a:first-child {
  font-size: 18px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.products-list li {
  position: relative;
}

.products-description {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
}

.products-list-item img {
  display: block;
}

.products-header-items {
  width: 358px;
  display: flex;
  align-items: center;
  background-color: var(--products-description-gray);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-top: 13px;
  padding-bottom: 13px;
  opacity: 0.12;
}

.products-header-items li {
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
  margin-right: 9px;
}

.products-header-items li:first-child {
  margin-left: 16px;
}

.products-list-item:hover .products-header-items {
  opacity: 1;
}

.products-list-item:hover .products-description {
  display: block;
}

.products-list img {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.products-list h3,
.products-list p {
  margin: 0;
}

.products-list p {
  line-height: 18px;
  margin-bottom: 32px;
}

.products-list h3 {
  padding-bottom: 12px;
}

.products-btn {
  margin-left: auto;
  margin-right: auto;
  padding-left: 72px;
  padding-right: 72px;
  display: block;
  line-height: 18px;
}

.products-btn:active {
  color: var(--basic-white);
  background-color: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px var(--btn-gray-shadow);
}

.products-description a:first-child:hover,
.products-description a:first-child:hover {
  color: var(--basic-red);
}

.products-description a:first-child:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.products-page {
  grid-column: 1 / -1;
  width: 758px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 45px;
}

.products-page li:not(:last-child) {
  margin-right: 11px;
}

.products-page li {
  margin-bottom: 10px;
}

.products-description {
  box-sizing: border-box;
  background-color: var(--background-gray);
  width: 358px;
  padding-top: 30px;
  padding-bottom: 44px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.products-description p {
  color: var(--products-text);
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 42px;
}

.heading-catalog {
  padding-top: 0;
  margin-top: 0;
  padding-top: 68px;
  padding-bottom: 108px;
  margin-bottom: 55px;
}

.heading-catalog h1 {
  font-size: 55px;
  text-align: center;
  line-height: 55px;
  margin: 0;
}

.page-item {
  display: block;
  background-color: var(--background-gray);
  width: 50px;
  height: 50px;
  color: var(--basic-black);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  border-radius: 3px;
  text-transform: uppercase;
}

.next-page {
  width: 260px;
}

.page-item:hover:not(.page-active) {
  background-color: var(--basic-gray2);
}

.page-item:active:not(.page-active) {
  background-color: var(--basic-gray3);
  box-shadow: inset 0px 3px 0px var(--btn-gray-shadow);
  color: var(--gray-active);
}

.page-active {
  background-color: var(--basic-white);
  border: 3px solid var(--btn-gray-shadow);
  width: 44px;
  height: 44px;
  line-height: 47px;
}

.contacts {
  position: relative;
  z-index: 0;
}

.contacts-list {
  background-color: var(--basic-white);
  box-sizing: border-box;
  width: 319px;
  min-height: 308px;
  padding-top: 49px;
  padding-bottom: 47px;
  justify-self: start;
  position: absolute;
  top: auto;
  bottom: auto;
  z-index: 1;
  padding-left: 50px;
  top: 54px;
}

.main-content {
  margin-bottom: 75px;
}

.contacts-button {
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  padding-left: 44px;
  padding-right: 44px;
  display: inline-block;
}

.contacts-tel {
  color: inherit;
}

.contacts h2 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 23px;
}

.contacts-list p {
  margin: 0;
  line-height: 18px;
}

.contacts-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts-address {
  width: 230px;
  min-height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 37px;
}

.contacts-map  {
  height: 416px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.contacts-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.map-marker img {
  width: 231px;
  height: 190px;
  position: absolute;
  top: 70px;
  left: 887px;
}

.footer-columns {
  display: flex;
  align-items: center;

}

.footer-social {
  margin-right: 139px;
  margin-top: -10px;
}

.main-footer {
  margin-bottom: 68px;
}

.social-list {
  width: 260px;
  display: flex;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: var(--social-gray);
  color: inherit;
  border-radius: 50%;
}

.social-button:hover {
  background-color: var(--basic-red-active);
  background: linear-gradient(0deg, var(--basic-red-hover), var(--basic-red-hover)), var(--basic-white);
}

.social-button:active path {
  fill: var(--light-gray);

}

.social-button:active {
  box-shadow: inset 0px 3px 0px var(--btn-gray-shadow);
  background: linear-gradient(0deg, var(--basic-red-active), var(--basic-red-active)), var(--basic-white);
}

.social-list li:not(:last-child) {
  margin-right: 9px;
}

.cta p:first-child {
  margin-top: -10px;
  margin-bottom: 10px;
}

.cta p:last-child {
  margin: 0;
}

.modal {
  width: 760px;
  margin: 0 auto;
  padding: 63px 100px 84px 100px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--basic-white);
  box-shadow: 0 20px 40px -10px var(--basic-black);
  display: none;
}

@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

.modal label {
  font-size: 16px;
  font-weight: 700;
}

.modal legend {
  font-size: 45px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 37px;
  line-height: 53px;
}

.modal input {
  display: block;
  width: 328px;
  border: 2px solid var(--modal-input);
  border-radius: 3px;
  padding: 16px;
  margin-top: 9px;
}

.modal-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal textarea {
  flex-grow: 1;
  border: 2px solid var(--modal-input);
  border-radius: 3px;
  padding: 16px;
  width: 761px;
  box-sizing: border-box;
  margin-bottom: 47px;
  margin-top: 9px;
  resize: none;
}

.modal input:hover {
  border-color: var(--modal-input-hover);
}

.modal input:focus {
  border-color: var(--basic-black);
}

.modal input:focus::placeholder {
  color: var(--basic-black);
}

.modal textarea:hover {
  border-color: var(--modal-input-hover);
}

.modal textarea:focus {
  border-color: var(--basic-black);
}

.modal textarea:focus::placeholder {
  color: var(--basic-black);
}

.modal li:not(:last-child) {
  margin-bottom: 34px;
}

.modal-btn {
  border: none;
  color: var(--basic-white);
  text-transform: uppercase;
  padding-left: 83px;
  padding-right: 83px;
  cursor: pointer;
}

.close {
  position: relative;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 110px;
  top: 85px;
  cursor: pointer;
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: var(--close-button);
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.close:hover::after,
.close:hover::before {
  background-color: var(--basic-red);
}

.close:active::after,
.close:active::before {
  background-color: var(--close-button-active);
}

.rub::before {
  content: "\20BD";
}



